/* button.css */

.button {
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.button .margin-right {
    margin-right: 10px;
}

.button.primary {
    background: #0275d8;
}
.button.primary:hover {
    background: #005ba5;
}
.button.primary-text {
    color: #0275d8;
}

.button.success {
    background: #5cb85c;
    border: 1px solid #367e36;
}
.button.success:hover {
    background: #367e36;
}
.button.success-text {
    color: #5cb85c;
}

.button.info {
    background: #5bc0de;
    border: 1px solid #278eaa;
}
.button.info:hover{
    background: #278eaa;
}
.button.info-text {
    color: #5bc0de;
}

.button.warning {
    background: #f0ad4e;
    border: 1px solid #ad7525;
}
.button.warning:hover {
    background: #ad7525;
}
.button.warning-text {
    color: #f0ad4e;
}

.button.danger {
    background: #d9534f;
    border: 1px solid #990f0f;
}
.button.danger:hover {
    background: #990f0f;
}
.button.danger-text {
    color: #d9534f;
}

.button.inverse {
    background: #636c72;
    border: 1px solid #454e55;
    color: #f7f7f7;
}
.button.inverse:hover {
    background: #454e55;
}
.button.inverse-text {
    color: #636c72;
}

.button.faded {
    background: #f7f7f7;
    border: 1px solid #dad5d5;
    color: #636c72;
}
.button.faded:hover {
    background: #dad5d5;
}
.button.faded-text {
    color: #f7f7f7;
}
